In [1]:
import pandas as pd
D = {"A":['a','b','c','d'],'B':[1,2,3,4],'C':[True,False,True,False]}
A = pd.DataFrame(D)
B = A #reference
B = pd.DataFrame(D)
B['B'][2] = 5
B['B'][3] = 6

/var/folders/gh/tvb2tx1j6ws_4lk959js7zn00000gn/T/ipykernel_7051/1637282074.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  B['B'][2] = 5
/var/folders/gh/tvb2tx1j6ws_4lk959js7zn00000gn/T/ipykernel_7051/1637282074.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  B['B'][3] = 6

In [4]:
print(A)
print(B)
print(A.merge(B,on = 'A',how = 'outer'))

#find diff
#concat,merge
C = pd.concat([A,B])
C = C.drop_duplicates(keep=False)
C = C.reset_index(drop=True)
print()
sp = C.shape[0]
A_ = C.loc[:sp/2-1]
B_ = C.loc[sp/2:].reset_index(drop=True)
print(A_)
print(B_)
C_ = A_.merge(B_,on = 'A')
C_

   A  B      C
0  a  1   True
1  b  2  False
2  c  3   True
3  d  4  False
   A  B      C
0  a  1   True
1  b  2  False
2  c  5   True
3  d  6  False
   A  B_x    C_x  B_y    C_y
0  a    1   True    1   True
1  b    2  False    2  False
2  c    3   True    5   True
3  d    4  False    6  False

   A  B      C
0  c  3   True
1  d  4  False
   A  B      C
0  c  5   True
1  d  6  False

   A  B_x    C_x  B_y    C_y
0  c    3   True    5   True
1  d    4  False    6  False

In [43]:
#drop
drop_rule = lambda x:True if x == False else False
A_ = A.drop(A[A['C'].apply(drop_rule)].index)
A_

   A  B     C
0  a  1  True
2  c  3  True

In [46]:
import numpy as np
#findna
B['B'][1] = np.nan
print(B[B['B'].isna()])
#dropna
B.dropna(how='any',inplace=True)
B

   A   B      C
1  b NaN  False

   A    B      C
0  a  1.0   True
2  c  5.0   True
3  d  6.0  False

In [47]:
#update and append
def update_append(A,B,index_col,if_apd):
    A.set_index(index_col,inplace=True)
    B.set_index(index_col,inplace=True)
    C = B.loc[B.index.difference(A.index)]
    A.update(B,overwrite=True)
    if if_apd:
        A = pd.concat([A,C])
    A.reset_index(inplace=True)
    return A

In [49]:
#sort
func = lambda x: x%2
B.sort_values(by=['B'],ascending= False,inplace=True,key = func)
B

   A    B      C
0  a  1.0   True
2  c  5.0   True
3  d  6.0  False

In [52]:
#groupby
E = {'code':['A1','A1','A1','A2','B1'],
     'value':['A','B','C','D','E']}
E = pd.DataFrame(E)
rule = lambda x: ''.join(x)
E['value'] = E.groupby(['code'])['value'].\
    transform(rule)
E.drop_duplicates(inplace=True)
E.reset_index(drop=True,inplace=True)
E

  code value
0   A1   ABC
1   A2     D
2   B1     E

In [55]:
#unique
E = {'code':['A1','A1','A1','A2','B1'],
     'value':['A','B','C','D','E']}
E = pd.DataFrame(E)

for uniq in E['code'].unique():
    indexs = E[E['code']==uniq].index.to_list()
    if len(indexs)>1:
        for i in range(len(indexs)):
            E.loc[indexs[i],'value'] = 0
E

  code value
0   A1     0
1   A1     0
2   A1     0
3   A2     D
4   B1     E

In [7]:
#index iloc
A.iloc[0,:].to_list()

['a', 1, True]

In [8]:
#change a row of dataframe
A.iloc[0,:] = ['a',1,True]
A

   A  B      C
0  a  1   True
1  b  2  False
2  c  3   True
3  d  4  False

In [9]:
#search non-integer index
A = pd.DataFrame({'A':['a','b','c','d'],'B':[1,2,3,4],'C':[True,False,True,False]})
A.set_index('A',inplace=True)
A

   B      C
A
a  1   True
b  2  False
c  3   True
d  4  False

In [12]:
loc_index=  ['a','b']
A.loc[loc_index,:]

   B      C
A
a  5      5
b  2  False

In [19]:
#test fillna
import pandas as pd
import numpy as np
A = pd.DataFrame({'A':['a','b','c','d'],'B':[1,2,3,4],'C':[True,False,True,False]})
A['B'][1] = np.nan
A['B'][3] = np.nan
A.fillna('NULL',inplace=True)
A

/var/folders/gh/tvb2tx1j6ws_4lk959js7zn00000gn/T/ipykernel_7051/456254011.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  A['B'][1] = np.nan

   A     B      C
0  a   1.0   True
1  b  NULL  False
2  c   3.0   True
3  d  NULL  False

In [20]:
#test pandas reorder columns
import pandas as pd
import numpy as np
A = pd.DataFrame({'A':['a','b','c','d'],'B':[1,2,3,4],'C':[True,False,True,False]})
A = A[['C','B','A']]
A

       C  B  A
0   True  1  a
1  False  2  b
2   True  3  c
3  False  4  d

In [24]:
A.loc[[1,2],['B','C']]

   B      C
1  2  False
2  3   True

In [23]:
A.iloc[1,[0,2]].to_list()

[False, 'b']

In [30]:
#get the row which has the same value in each column 
import pandas as pd
import numpy as np
A = pd.DataFrame({'A':[1,2,5,6],'B':[1,2,3,4],'C':[1,2,3,4]})
screen_func = lambda x: True if len(set(x)) == 1 else False
A[A.apply(screen_func,axis=1)].index.to_list()

[0, 1]

In [2]:
#add a new empty column
import pandas as pd
A = pd.DataFrame({'A':[1,2,5,6],'B':[1,2,3,4],'C':[1,2,3,4]})
A['D'] = ''
A

   A  B  C D
0  1  1  1
1  2  2  2
2  5  3  3
3  6  4  4

In [ ]:
import pandas as pd
#sort by index
A = pd.DataFrame({'A':[1,2,5,6],'B':[1,2,3,4],'C':[1,2,3,4]})
A.set_index('A',inplace=True)
A.sort_index(inplace=True)

In [ ]:
import pandas as pd

#build a new empty dataframe df2 which have the same columns as df1
df1 = pd.DataFrame({'A':[1,2,5,6],'B':[1,2,3,4],'C':[1,2,3,4]})
df2 = pd.DataFrame(columns = df1.columns)

In [26]:
#merge two dict
A = {'a':1,'b':2}
B = {'c':3,'d':4}
C = A.update(B)
A

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [17]:
import pandas as pd
import numpy as np

A = pd.DataFrame({'index':['A','B','C','D'],'value':[1,2,3,4]})
B = pd.DataFrame({'index':['B','C'],'value':[2,8]})
A.set_index('index',inplace=True)
B.set_index('index',inplace=True)
#merge two dataframe into 2 columns,rename the columns
C = A.merge(B,on='index',how='outer')
#find the rows that have the same value in each column
C[C.apply(lambda X: True 
          if len(set([x for x in X if x])) == 1 
          else False,axis=1)]

#fill nan with left column value
C['value_'] = C['value_x'].fillna(C['value_y'])

#get a new column, if the value of column A,B are common, the value of new column is that value, else nan, ignore the nan
C['new'] = C.apply(lambda X: list(set([x for x in X if x]))[0] 
                   if len(set([x for x in X if x]))==1 
                   else np.nan,axis=1)
C

       value_x  value_y  new
index
A            1      NaN  NaN
B            2      2.0  2.0
C            3      8.0  NaN
D            4      NaN  NaN

In [ ]:
import pandas as pd

#.xs method is used to get cross-section from the DataFrame, it takes a key argument to select data at a particular level of a MultiIndex
df = pd.DataFrame({'A':[1,2,3],'B':[4,5,6],'C':[7,8,9]})
print(df.xs(0))
print(df.xs('A',axis=1))

for row in df.iterrows():
    print(row)

#or 
for row in df.itertuples():
    print(row)

In [2]:
#pandas series
import pandas as pd
import numpy as np

A = pd.Series([1,2,3,4])
B = pd.Series([5,6,7,8])

#add two series
C = A.add(B)
print(C)

#substract two series
C = A.sub(B)
print(C)

0     6
1     8
2    10
3    12
dtype: int64
0   -4
1   -4
2   -4
3   -4
dtype: int64