In [1]:
#compare pandas with SQL code
import pandas as pd
import numpy as np
import sqlite3

# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3, 4],
                     'B': ['a', 'b', 'c', 'd']})

# Create a SQL connection to our SQLite database
con = sqlite3.connect("mydata.db")

In [ ]:
#compare pandas with SQL code

# Load the data into the database
df.to_sql("mydata", con)

# Read from the database
df_sql = pd.read_sql_query("SELECT * FROM mydata", con)

In [ ]:
#change the specific index/col data in the DataFrame and database
#pd
df.loc[0, 'A'] = 10
#sql open the database and update the data and close the database
command = '''
SELECT * FROM mydata
    UPDATE mydata
        SET A = 10
        WHERE index = 0
'''
con.execute(command)

In [ ]:
#drop nan values
df.dropna()
command = '''
SELECT * FROM mydata
    WHERE A IS NOT NULL
'''
df_sql = pd.read_sql_query(command, con)

In [ ]:
#drop duplicates
df.drop_duplicates()
command = '''
SELECT * FROM mydata
    WHERE A IS NOT NULL
'''
df_sql = pd.read_sql_query(command, con)

In [ ]:
#select specific rows satisfying the condition
df[df['A'] > 2]
command = '''
SELECT * FROM mydata
    WHERE A > 2
'''
df_sql = pd.read_sql_query(command, con)

In [ ]:
#groupby
df.groupby('B').mean()
command = '''
SELECT B, AVG(A) FROM mydata
    GROUP BY B
'''
df_sql = pd.read_sql_query(command, con)

In [ ]:
#define a new method to groupby
def my_agg(x):
    names = {
        'A_mean': x['A'].mean(),
        'A_sum': x['A'].sum()
    }
    return pd.Series(names, index=['A_mean', 'A_sum'])

df.groupby('B').apply(my_agg)

command = '''
SELECT B, AVG(A) AS A_mean, SUM(A) AS A_sum FROM mydata
    GROUP BY B
'''
df_sql = pd.read_sql_query(command, con)

In [ ]:
#apply a function to each row
df['A'].apply(lambda x: x**2 if x > 2 else x)
command = '''
SELECT A, CASE
    WHEN A > 2 THEN A * A
    ELSE A
    END
    FROM mydata
'''

In [ ]:
#sort values
df.sort_values('A')
command = '''
SELECT * FROM mydata
    ORDER BY A
'''
df_sql = pd.read_sql_query(command, con)

In [ ]:
#order by applying a function
df.sort_values('A', key=lambda x: x**2)
command = '''
SELECT * FROM mydata
    ORDER BY A * A
'''

In [ ]:
#with as clause for sql
#with as is used to create a temporary table that can be used in the following query
command = '''
WITH mydata AS (
    SELECT * FROM mydata
)
SELECT * FROM mydata
'''