In [3]:
#test pandas style
import pandas as pd
import numpy as np

df = pd.DataFrame({'A': np.random.randn(6),
                   'B': ['foo', 'bar'] * 3,
                   'C': ['this is word1', 'this is word2', 
                         'this is word3', 'this is word4', 
                         'this is word5', 'this is word6']})

#change the color of the foo in column B into red
def color_red(val):
    color = 'red' if val == 'foo' else 'black'
    return 'color: %s' % color

df.style.applymap(color_red)