In [1]:
#test merge outer
import pandas as pd
import numpy as np

In [4]:
A = pd.DataFrame({'A': [1, 2, 3, 4, 5], 'B': ['a', 'b', 'c', 'd', 'e'], 'C': [1, 2, 3, 4, 5]})
A.set_index('A', inplace=True)
B = pd.DataFrame({'A': [2, 3, 5], 'B':['b', 'c', 'e']
    ,'C': ['c', 'd', 'e']})
B.set_index('A', inplace=True)

In [10]:
A.merge(B, on='B', how='outer', suffixes=('_A', '_B'))

   B  C_A  C_B
0  a    1  NaN
1  b    2    c
2  c    3    d
3  d    4  NaN
4  e    5    e

In [11]:
func1 = lambda x: x**2==x
func2 = lambda x: x**3==x
func3 = lambda x: x**4==x
funcList  = [func1, func2, func3]
#func has one input and it is the or of all the functions in the list
func = lambda x: np.any([f(x) for f in funcList])

In [13]:
func(2)

False